<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for recipe in recipes %}

          <div class="col">
            <div class="card h-100 shadow">
              <div class="card-body">
                <h5 class="card-title">{{recipe.name}}</h5>
                {% url 'home' as main_url %}
                {% if request.path == main_url%}
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                      <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
                    </svg>
        {#                Creator:#}
                    <a href="{% url 'show-profile' recipe.username %}" style="text-decoration: none">
        {#                    <p class="card-text">#}
                            {{recipe.username}}
        {#                    </p>#}
                    </a>
                {% endif %}
{#                  <a href="{% url 'show-note' note.uuid %}">#}
{#                        <button type="button" class="btn btn-secondary d-grid gap-2 d-md-flex justify-content-md-end" style="float: right">#}
{#                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">#}
{#                            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"></path>#}
{#                            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"></path>#}
{#                            </svg>#}
{#                        </button>#}
{#                  </a>#}
              </div>
{#              <p class="text-center">#}
{#                  {% for i in recipe.i_list %}#}
{#                          {{ tag }}#}
{#                        {% if i %}#}
{#                            <span class="badge text-bg-dark me-2">{{ i }}</span>#}
{#                        {% endif %}#}
{#                  {% endfor %}#}
{#              </p>#}
              <div class="card-footer">
                <small class="text-body-secondary">CREATED AT: {{ recipe.created_at }}</small>
              </div>
            </div>
          </div>

    {% endfor %}


</div>